<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">Data User</div>
      <div class="card-body">
        <a routerLink="/users/form" class="btn btn-primary">Add User</a>
        <hr />
        <table class="table table-striped">
          <caption>
            Halaman :
            {{
              page
            }}
            /
            {{
              totalPage
            }}
          </caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Avatar</th>
              <th>Email</th>
              <th>Fisrt Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td><img src="{{ user.avatar }}" alt="{{ user.email }}" /></td>
              <td>{{ user.email }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
