<div class="row">
  <h1>My Todo Form</h1>

  <div class="alert alert-info" *ngIf="loading">
    Menyimpan data, silahkan tunggu...
  </div>

  <form action="" [formGroup]="todoForm" (ngSubmit)="addTask()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">V</span>
      <input
        type="text"
        class="form-control"
        placeholder="Task name"
        formControlName="label"
      />
      <button type="button" appBsButton color="dark" buttonStyle="outline">
        ADD
      </button>
    </div>
  </form>
</div>
