<div class="container mt-5">
  <div class="row">
    <div class="col-4 border btn btn-primary">1</div>
    <div class="col-4">2</div>
    <div class="col-4">3</div>
  </div>

  <div class="row mt-3">
    <div class="col-6 border">4</div>
    <div class="col-6 border">5</div>
  </div>

  <div class="row mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
